@import url(http://fonts.googleapis.com/css?family=Abel|Cantata+One);
/* line 7, ../__compass/sass/global.sass */
html {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 1.5em;
}

/* line 14, ../__compass/sass/global.sass */
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  color: white;
  text-align: center;
}

/* line 21, ../__compass/sass/global.sass */
p, h1, #footer {
  color: white;
  display: block;
  background: #b2b296;
  padding: 50px;
  width: 50%;
  margin: auto;
  margin-top: 50px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
}

/* line 31, ../__compass/sass/global.sass */
h1 {
  background: #33b2b2;
}

/* line 35, ../__compass/sass/global.sass */
#footer {
  width: 100%;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
  position: absolute;
  bottom: 0;
}
